body {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    padding: 0;
    width: 200px; /* Adjust as needed */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 8rem;
}

#home {
    animation: bounceText 0.5s ease 3s;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

@keyframes bounceText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
