body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #cf7004 !important;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    width: 20%; /* Adjust as needed */
    z-index: 1; /* Ensure the navigation is above the content */
}

.circle {
    width: 60%; /* Adjust the size as needed */
    height: 60%; /* Adjust the size as needed */
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #333; /* You can remove this border if not needed */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the circular container */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.section {
    padding: 8rem;
    margin-left: 20%; /* Add margin to the left to accommodate the navigation */
}

.text-primary {
    color: #cf7004 !important;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

@keyframes bounceText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
